<div class="container color-dark">
    <div class="col">
        <h1>About us...</h1>
    </div>
</div>

<div class="container color-light">
    <div class="col">
        <h2>Luis Enrique Meza</h2>
        <p class="life-container">Digital Systems and Robotics Engineering Student on 9th Semester.
        Currently working at Intel as a Memory System Validation Intern in Guadalajara.</p>
        <p class="life-container">luisemezag@gmail.com</p>
    </div>
    <div class="col">
        <h2>Jesús Tafolla</h2>
        <p class="life-container">Nineth Semester Student in Digital Systems and Robotics Engineering.
        Actually working as an Intern at Intel Corporation in Functional Validation.</p>
        <p class="life-container">chuy_tafolla@hotmail.com</p>
    </div>
</div>