<div class="container color-dark">
    <h2 class="row">
        What are you thinking?
    </h2>
    <div class="row">
        <form>
            <input type="text" class="txt" name="note" placeholder="Thoughts...">
            <input type="submit" class="btn" value="Add Note">
        </form>
    </div>
</div>

<h2 class="h2">Notes:</h2>

<div class="container color-light">
    <div class="row1">
        Yo solo quiero graduarme...
    </div>
    <div class="row2">
        By: Luis Enrique
    </div>
</div>

<div class="container color-light">
    <div class="row1">
        Ya casi se acaba el semestre! #Finales
    </div>
    <div class="row2">
        By: Jesús Tafolla
    </div>
</div>