<div class="container color-dark">
    <h2 class="row">
        What are you thinking?
    </h2>
    <div class="row">
        <form>
            <input type="text" class="txt" name="note" placeholder="Thoughts..." [(ngModel)]="note">
            <input type="submit" class="btn" value="Add Note" (click)="addMessage()">
        </form>
    </div>
</div>

<h2 class="h2">Notes:</h2>

<div class="container color-light" *ngFor="let note of notes.slice().reverse()">
    <div class="row1">
        {{ note.description }}
    </div>
    <div class="row2">
        By: {{note.user}}
    </div>
</div>