.container {
    display: grid;
    grid-template-rows: auto;
}

.h2 {
    margin-left: 1em;
    color: #000000;
}

.row {
    padding: .4em 1.3em;
}

.row1 {
    margin-top: 1em;
    padding: .4em 1.3em;
}

.row2 {
    padding: .4em 1.3em;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 1em;
}

.color-dark{
    background: #2f9710;
}

.color-light{
    margin-top: 2em;
    background: #01d7eb;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 98%;
    margin-bottom: 2em;
}

input.pwd {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #0094a1;
    columns: #000000;
    margin-bottom: 1em;
    margin-right: 0px;
    margin-left: auto;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.life-container {
    background: #00adbc;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}