<div class="container color-dark">
    <div class="col">
        <h1>Welcome to Our Global Notes App!</h1>
    </div>
</div>

<div class="container color-light">
    <div class="col">
        <h3>Sign up or Get your Token:</h3>
        <form>
            <input type="text" class="txt" name="user" placeholder="Name..." [(ngModel)]="name">
            <input type="text" class="txt" name="email" placeholder="Email...">
            <input type="password" class="pwd" name="password" placeholder="Password...">
            <input type="submit" class="btn" value="Sign Up">
            <input type="submit" class="btn" value="Get Token" (click)="getToken()">
        </form>
    </div>
    <div class="col">
        <h2>Your Token is: </h2>
        <p class="life-container">
            Here is your token {{ name }}:
        </p>
        <p class="life-container">
            {{ token }}
        </p>
    </div>
</div>